# Core for NLP
spacy==3.7.2
yake==0.4.8
PyMuPDF==1.23.21

# Sentence embedding + semantic search
sentence-transformers==2.7.0
torch==2.1.2+cpu
transformers==4.41.2
sentencepiece

# Required by torch+transformers (explicit for clarity)
scipy
numpy

# Lightweight torch source
--extra-index-url https://download.pytorch.org/whl/cpu